*{
    padding: 0;
    margin: 0;
color: white;
}
body{
    background-color: #3b1534;
    display: flex;
}
.menu{
    background-color: rgb(30, 28, 54);
    width: 35px;
    height: 100vh;
    padding: 20px;
    margin: 5px 0;
    overflow: hidden;
}
.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;

}
.img-box img{
    width: 100%;
}
.profile{
    display: flex;
    align-items: center;
    gap: 30px;
}
.profile h2{
    font-size: 20px;
    text-transform: capitalize;
}
ul{
    list-style: none;
    position: relative;
    height:95% ;
}
ul li a{
    display: block;
    /* background-color: blueviolet; */
    text-decoration: none;
    padding: 10px ;
    margin: 10px 0;
 border-radius: 10px;   
 display: flex;
 align-items: center;
 gap: 45px;

 transition: .5s;
}
ul li a:hover,.active,.data-info .box:hover ,td:hover{
    background-color: #ffffff55;

}
.menu:hover{
    width: 250px;
    transition: .5s;
}
.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.log-out a{
    background-color: red;
}
ul li a i{
    font-size: 30px;
}
.content{
    width: 100%;
    margin: 10px ;

}
.title-info{
    background-color: rgb(103, 103, 209);
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
    margin:10px 0 ;
    
}
.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    
}
.data-info .box{
    background-color: rgba(54, 45, 93, 0.862);
    flex-basis: 150px;
    height: 150px;
    flex-grow: 1;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    


}
.box i {
    font-size: 40px;
}
.data-info .box .data{
    text-align: center;
}
.data-info .box .data span{
    font-size: 30px;
}
table{
   width: 100%;
   text-align: center;
   border-spacing: 8px;
}
table th{
    background-color: rgb(12, 34, 75);
}
td, th{
    background-color: rgb(13, 115, 174);
    height: 40px;
    border-radius: 10px;
}
.price{
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}
.count{
    background-color: bisque;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
